<template>

    <div class="container">
        <div class="sidebar">
            <router-link :to="{ name: 'home' }" class="active" href="#">Dashboard</router-link>
            <router-link :to="{ name: 'pending' }" href="#">Orders</router-link>
            <!--<router-link :to="{ name: 'refunds' }" href="#">Refunds</router-link>-->
            <router-link :to="{ name: 'profile' }" href="#">Profile</router-link>
            <a @click="logout()" href="#">Logout</a>
        </div>
    </div>

</template>
<script>

    export default {
        data(){
            return {
                completed:'',
                inprogress:'',
                revised:'',
                pending:'',
                onhold:'',
                discount:'',
                wallet:'',
            }
        },
        created() {
            // this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =`/api/auth/client/getOrderData`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.completed = response.data.completed;
                    this.inprogress = response.data.inprogress;
                    this.revised = response.data.revised;
                    this.pending = response.data.pending;
                    this.onhold = response.data.onhold;
                    this.discount = response.data.discount;
                    this.wallet = response.data.wallet;
                }).catch(error => {
                    if (error.response.status === 401) {
                        localStorage.removeItem('auth');
                        this.$router.push({name: 'login'});
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                this.$router.push({name: 'login'});
            },

        }
    }
</script>
