<template>
    <div class="mb-5">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <form class="php-email-form" method="post" v-on:submit.prevent="getOtp()">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-4">
                    <div class="container center mb-5 mr-0">
                        <div class="card">
                            <h6>Update password</h6>
                            <h6>Hello <span class="text-info">{{message.name}}</span>  Please enter new password</h6>
                            <hr/>
                            <div class="container mt-3">
                                <div class="text-center">
                                    <i class="fa fa-lock fa-2x"></i>
                                </div>
                                <div class="form-group mb-2">
                                    <label>New password<span class="required text-danger">*</span></label>
                                    <input type="password" class="form-control" name="email" v-model="message.password" required>
                                </div>
                                <div class="form-group mb-2">
                                    <label>Confirm password<span class="required text-danger">*</span></label>
                                    <input type="password" class="form-control" name="email" v-model="message.repass" required>
                                </div>
                                <div class="row">
                                    <button class="btn btn-info btn-block" type="submit"  >UPDATE</button>
                                </div>
                                <div class="row mt-5">
                                    <router-link :to="{name:'login'}" href="#">Back to login</router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</template>
<script>

    export default {
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{
                    email:localStorage.getItem('user_id'),
                    name:localStorage.getItem('name')
                },
            }
        },
        methods: {
            getOtp() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/resetpassword`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        localStorage.setItem('token', response.data.access_token);
                        localStorage.setItem('name', response.data.user.name);
                        localStorage.setItem('wallet', response.data.wallet);
                        localStorage.setItem('auth', 'yes');
                        this.$router.push({name: 'home'});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});

                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },



        }
    }
</script>
