<template>
    <div class="mb-5 container">
        <br/>
        <br/>
        <br/>
        <br/>
        <Navbar></Navbar>
        <div class="content">
            <div class="container ">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <router-link :to="{ name: 'pending' }" class="nav-link " href="#">Pending</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{ name: 'inprogress' }" class="nav-link active" href="#">Inprogress</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'revised' }" href="#">Revision</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'completed' }" href="#">Completed</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'onhold' }" href="#">Onhold</router-link>
                    </li>
                </ul>

                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered mt-3">
                                <thead>
                                <tr>
                                    <th >#</th>
                                    <th >Order ID</th>
                                    <th>Title</th>
                                    <th >Deadline</th>
                                    <th >Amount</th>
                                    <th >View</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(post,index) in message" :key="post.id">
                                    <th >{{index+1}}</th>
                                    <th >{{post.code.toUpperCase()}}</th>
                                    <td>{{post.title}}</td>
                                    <td>{{post.deadline}}</td>
                                    <td>$ {{formatPrice(+post.amount * +percent/100)}}</td>
                                    <td>  <router-link :to="{name: 'detail', params: { id: post.id }}" ><i title="View order" data-id="100" class="fa fa-eye text-primary"></i></router-link></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    export default {
        name: 'App',
        components: {
            Navbar
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:[],
                percent:'0',
            }
        },
        created() {
            this.loaddata();
        },
        methods: {
            loaddata(){
                let uri =this.proxyUrl+`api/auth/writer/inprogress`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.orders;
                    this.percent=response.data.percent;
                    setTimeout(() => { datatable();  }, 1000);
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

        }
    }
</script>
