<template>
    <div class="mb-5 container">
        <br/>
        <br/>
        <br/>
        <br/>
        <!--<Navbar></Navbar>-->
        <div class="row justify-content-center">
            <div class="col-sm-7">
                <div class="card" :id="identity">
                    <router-link :to="{name:'pending'}">Back <i class="fa fa-backward"></i></router-link>
                    <hr/>
                    <div class="container mt-3">
                        <p class="text-center title"> {{message.title}}.</p><hr>
                        <div class="php-email-form">

                            <div class=" ">
                                <table class="table">
                                    <tbody>
                                    <tr class="">
                                        <th>Deadline </th>
                                        <td class="text-warning">
                                            <div class="row justify-content-center">
                                                <div class="col-sm-3">
                                                    <p class="text-success" id="days"></p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <p class="text-success" id="hours"></p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <p class="text-success" id="mins"></p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <p class="text-danger" id="secs"></p>
                                                </div>
                                            </div>
                                            <h3 class="text-danger" id="end"></h3></td>
                                    </tr>
                                    <tr class="">
                                        <th>Deadline </th>
                                        <td>{{message.deadline}}</td>
                                    </tr>
                                    <tr class="">
                                        <th>Posted </th>
                                        <td><timeago :datetime="message.created_at" :auto-update="60"></timeago>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <th>Order ID </th>
                                        <td>{{message.code.toUpperCase()}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Academic level </th>
                                        <td> {{message.academic}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Urgency </th>
                                        <td>{{message.agency}} {{message.prefix}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Type of paper </th>
                                        <td>{{message.paper}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Subject </th>
                                        <td>{{message.subject}}</td>
                                    </tr>
                                    <!--<tr class="order-total">-->
                                        <!--<th>Amount</th>-->
                                        <!--<td><strong><span class="amount text-success">$ {{formatPrice(message.amount)}}</span></strong>-->
                                        <!--</td>-->
                                    <!--</tr>-->

                                    <tr class="cart-subtotal">
                                        <th>Pages </th>
                                        <td v-if="message.pagespacing==='double'">{{message.pages}} Pages - {{message.pagespacing}} /{{+message.pages * 275}} Words</td>
                                        <td v-if="message.pagespacing==='single'">{{message.pages}} Pages - {{message.pagespacing}} /{{+message.pages *550}} Words</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>English format </th>
                                        <td>{{message.writer}}</td>
                                    </tr>
                                    <tr class="cart-subtotal" v-if="message.powerpointchecked==='true' || message.powerpointchecked==='1'">
                                        <th>Powerpoint slides </th>
                                        <td>{{message.powerpointslides}} slides</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Style </th>
                                        <td>{{message.style}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Sources </th>
                                        <td>{{message.sources}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>IS order taken? </th>
                                        <td>{{message.taken}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Local Date submited</th>
                                        <td>{{message.created_at}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>General Date  submited</th>
                                        <td>{{message.submited_at}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Quality level </th>
                                        <td>{{message.writerlevel_id}}</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Writer ID </th>
                                        <td>{{message.writer_id}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-sm-12">
                                    <p class="mb-2">
                                        <button class="btn btn-outline-info btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            Uploaded files and writer answers <i class="ml-3 fa fa-arrow-circle-down"></i>
                                        </button>
                                    </p>
                                </div>
                                <div class="collapse" id="collapseExample">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="post in files" :key="post.id">
                                            <td>{{post.name}}</td>
                                            <td>{{post.date}}</td>
                                            <td>{{post.type}}</td>
                                            <td ><a class="text-info" :href="proxyUrl+'storage/avatars/'+post.name"><i class="fa fa-download"></i></a></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>


                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>Order Instructions</h6>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Instruction</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{message.instruction}}</td>
                                                <td>{{message.created_at}}</td>
                                            </tr>
                                            <tr v-for="post in instructions" :key="post.id">
                                                <td>{{post.instruction}}</td>
                                                <td>{{post.created_at}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center mt-4">
                            <div class="col-sm-6">
                        <a @click="bid()" class="btn btn-warning btn-block" v-if="message.taken==='No'">Take this order</a>
                        <a data-toggle="modal" data-target="#files" class="btn btn-warning btn-block fa fa-upload" v-if="message.taken==='Yes'">Upload Answers</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-5">
                <div class="card"   >
                    <h6>Chat <i class="fa fa-comment"></i></h6>
                    <hr/>
                    <div class="nano has-scrollbar" style="height:500px">
                        <div class="nano-content pad-all" tabindex="0" >
                            <ul class="list-unstyled media-block mb-2">
                                <div v-for="chat in chats " :key="chat.id">
                                    <li class="mar-btm" v-if="chat.user_id!==my_id.toString()">
                                        <!--<div class="media-right">-->
                                        <!--<img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-circle img-sm" alt="">-->
                                        <!--</div>-->
                                        <div class="media-body pad-hor speech-right">
                                            <div class="speech">
                                                <a href="#" class="media-heading">Client</a>
                                                <h6 class="chatting">{{chat.message}}</h6>
                                                <!--<p class="speech-time">-->
                                                <!--<i class="fa fa-clock-o fa-fw"></i> {{chat.time}}-->
                                                <!--</p>-->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm" v-else>
                                        <!--<div class="media-left">-->
                                        <!--<img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle img-sm" alt="">-->
                                        <!--</div>-->
                                        <div class="media-body pad-hor">
                                            <div class="speech">
                                                <a href="#" class="media-heading">Me</a>
                                                <h6 class="chatting">{{chat.message}}</h6>
                                                <!--<p class="speech-time">-->
                                                <!--<i class="fa fa-clock-o fa-fw"></i>{{chat.time}}-->
                                                <!--</p>-->
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <hr/>
                        <div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div></div></div>

                    <!--Widget footer-->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-9">
                                <textarea v-model="chatData.message" class="form-control chat-input" placeholder="Type your messag here..." rows="1" required></textarea>
                            </div>
                            <div class="col-sm-3">
                                <button v-on:click="sendMessages()" class="btn btn-info btn-block" type="button">Send</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="files" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="login-form" action="#" method="post" v-on:submit.prevent="savingFiles()">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload files</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="col-lg-12">
                                <p class="single-form-row m-0">
                                    <label>Files and uploads</label>
                                <div class="form-group files color">
                                    <input type="file" v-on:change="onImageChange" class="order-form-input" multiple="multiple">
                                </div>

                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="submit"  class="btn btn-primary" >Save Files</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>
<script>
    import  Navbar from '../view/navbar'
    import FlipCountdown from 'vue2-flip-countdown'
    export default {
        name: 'App',
        components: {
            Navbar,FlipCountdown
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                chatData:{},
                files:[],
                attachments:[],
                form: new FormData,
                payments:[],
                count:'',
                writer_app:'',
                otherservices:[],
                chats:[],
                my_id:'',
                identity:''
            }
        },
        created() {
            this.loaddata();
            this.fetchMessages();
            this.interval = setInterval(() => this.fetchMessages(), 5000);
        },
        methods: {
            bid(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/order/bid/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message:response.data.message, type: 'success', position: 'top'});
                        this.loaddata();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            fetchMessages(){
                if(this.$route.name==='detail') {
                    let uri =this.proxyUrl+`api/auth/messages/${this.$route.params.id}`;
                    this.axios.get(uri, {headers: {Authorization: 'Bearer ' + localStorage.getItem('token')}}).then(response => {
                        this.my_id = response.data.my_id;
                        this.chats = response.data.data;
                    }).catch(error => {
                        if (error.response.status === 401) {
                            this.$router.push({name: 'login'});
                            clearSession();
                        } else {
                            this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                        }
                    });
                }
            },
            chat(){
                this.$router.push({name: 'chat',params: { id: this.$route.params.id }});
            },
            onImageChange(e){

                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    this.attachments.push(files[i]);
                }
            },
            savingFiles(){
                $("#files").modal("hide");
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                for(let i=0; i<this.attachments.length;i++){
                    this.form.append('files[]',this.attachments[i]);
                }
                let uri =this.proxyUrl+`api/auth/writer/upload/${this.$route.params.id}`;
                this.axios.post(uri,this.form,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.loaddata();
                    }else{
                        this.$toast.open({message:response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    $("#files").modal("hide");
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            loaddata(){
                // $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/client/orders/view/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    this.message = response.data.orders[0];
                    this.payments = response.data.payments;
                    this.files = response.data.files;
                    this.writer_app=response.data.writer_app;
                    this.otherservices=response.data.otherservices;
                    this.identity=this.message.status;
                   this.shoeDeadline();
                }).catch(error => {
                    // $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            sendMessages(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.chatData.time=showtimeTime();
                let uri =this.proxyUrl+`api/auth/messages/${this.$route.params.id}`;
                this.axios.post(uri,this.chatData,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token') } }).then(response => {
                    $('.card').loader('hide');
                    this.chatData={};
                    this.fetchMessages();
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            shoeDeadline(){
                // The data/time we want to countdown to
                var countDownDate = new Date(this.message.deadline).getTime();

                // Run myfunc every second
                var myfunc = setInterval(function() {

                    var now = new Date().getTime();
                    var timeleft = countDownDate - now;

                    // Calculating the days, hours, minutes and seconds left
                    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

                    // Result is output to the specific element
                    document.getElementById("days").innerHTML = days + "d "
                    document.getElementById("hours").innerHTML = hours + "h "
                    document.getElementById("mins").innerHTML = minutes + "m "
                    document.getElementById("secs").innerHTML = seconds + "s "

                    // Display the message when countdown is over
                    if (timeleft < 0) {
                        clearInterval(myfunc);
                        document.getElementById("days").innerHTML = ""
                        document.getElementById("hours").innerHTML = ""
                        document.getElementById("mins").innerHTML = ""
                        document.getElementById("secs").innerHTML = ""
                        document.getElementById("end").innerHTML = "TIME UP!!";
                    }
                }, 1000);
            }
        }
    }
</script>
